.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem;
}

.preview {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.preview > div {
  height: 4rem;
  width: 4rem;
  position: relative;
  border: 1px solid rgba(0,0,0,.2)
}

.preview > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview > div > p {
  position: absolute;
  top: 0px;
  right: 0;
  color: #ff0000;
  font-size: 1rem;
  margin: 0;
  font-weight: 700;
  padding: 0.2rem;
  background: #fff;
  cursor: pointer;
}

.main > button {
  padding: 0.7rem 1.5rem;
  color: #ff7f50;
  background: #fff;
  font-weight: 700;
  border: 2px solid #ff7f50;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.main > button:disabled {
  border-color: #ccc;
  color: #ccc;
  cursor: not-allowed;
}

.main > button + p {
  font-size: 0.8rem;
  margin: 0; 
}

.collage {
  width: 25rem;
  height: 20rem;
  border: 1px solid rgba(0,0,0,.2);
  margin: 1rem 0;
}

.collage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collage > p {
  font-size: 0.8rem;
  margin: 0.5rem;
}